.googleLogin {
  display: flex;
  color: #858585;
}

.googleLogin > div {
  border-radius: 10px;
  background-color: white;
  font-size: 0.8vw;
  padding: 1.5% 0% 1.5% 4%;
  width: 12vw;
  margin: 4% 3% 0% 0%;
}

.upperPart {
  margin-top: 13%;
  margin-left: 30%;
}
